## exemplos com os estudos do capitulo3 do livro python para an√°lise de dados

In [4]:
tup = (4,5,(6,7))
a,b,(c,d) = tup

In [5]:
c

6

## *rest para desenpacotamento

In [12]:

tup = [1,2,3,4,5]
a,b,*rest = tup

In [13]:
a

1

In [14]:
b

2

In [15]:
rest

[3, 4, 5]

## comparadores para ordenar uma lista em python

In [16]:
def sec(lis):
    return lis[1]

lis = [[1,10],[2,9],[3,8],[4,7]]

lis.sort(key=sec)

lis

[[4, 7], [3, 8], [2, 9], [1, 10]]

## busca binaria com python

In [17]:
import bisect


seq = [1,2,3,5,6,7]

In [20]:
bisect.bisect(seq,4)

3

In [21]:
bisect.insort(seq,4)

In [22]:
seq

[1, 2, 3, 4, 5, 6, 7]

In [24]:
seq1 = [1,2,3,4]
seq2 = ['matheus','lisboa','oliveira','santos']

for index,(a,b) in enumerate(zip(seq1,seq2)):
    print("%d: %d , %s"%(index,a,b))

0: 1 , matheus
1: 2 , lisboa
2: 3 , oliveira
3: 4 , santos

In [38]:
c = zip(seq1,seq2)
c = list(c)
c

[(1, 'matheus'), (2, 'lisboa'), (3, 'oliveira'), (4, 'santos')]

In [37]:
seq1, seq2 = zip(*c)
seq1

(1, 2, 3, 4)

In [41]:
d = {1:10,2:20}
r = d.pop(1)
r

10

In [42]:
d

{2: 20}

In [44]:
d.update({3:30,4:40})

In [45]:
d

{2: 20, 3: 30, 4: 40}

In [48]:
novo = dict(zip(range(5),reversed(range(5))))

In [49]:
novo

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [1]:
d = {}

In [2]:
lis = ['maaa','aaa','saamaheus','aaaamatheus','ttttuabucenta']

for pal in lis:
    l = pal[0]
    d.setdefault(l,[]).append(pal)

print(d)

{'m': ['maaa'], 'a': ['aaa', 'aaaamatheus'], 's': ['saamaheus'], 't': ['ttttuabucenta']}

In [9]:
for i in range(10):
    d.setdefault(i,0)

In [10]:
d

{'m': ['maaa'],
 'a': ['aaa', 'aaaamatheus'],
 's': ['saamaheus'],
 't': ['ttttuabucenta'],
 0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0}

In [11]:
a = {1,2,3,4,5,6}
b =       {4,5,6,7,8,9}

a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
a & b

{4, 5, 6}

In [14]:
a - b

{1, 2, 3}

In [15]:
b - a

{7, 8, 9}

In [16]:
a ^ b

{1, 2, 3, 7, 8, 9}

In [17]:
'Fl0rda'.title()

'Fl0Rda'